 #home-manage {
    width: 80%;
    height: 80px;
    background-color: #6b6b6b34;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
    margin: 0 10vw;
    margin-top: 2vh;
      padding: 0 30px; 
    /*border-radius: 25px;
    margin: 0;
    margin-top: 2vh; */
  }
  html {
    scroll-behavior: smooth;
  }
  .logo {
    width: 110px;
    margin-top: 8px;
  }
  .active {
    background-color: rgb(66, 150, 203);
    border-radius: 12px;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li i {
    display: none;
  }
  nav ul li a{
    color: #ffffff;
    display: block;
    margin: 0 2px;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.5s;
    border-radius: 12px;
    text-transform: uppercase;
  }
  nav ul li a:hover {
    background: #7d828372;
  }

  .hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.5s;
  }
  .hamburger:hover {
    background: #7c7c7c6d;
  }
  .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #ffffff;
  }
  .container-manage {
    margin: 0;
    padding: 0 0vw;
  }
  /* box-icon {
    cursor: pointer;
    margin-top: 0.7vh;
  } */

  .dataMain {
    display: flex;
    background: #35ffe42f;
    padding: 30px;
    margin: 0 10vw;
    margin-top: 2vh;
    border-radius: 20px;
  }
  .dataMain p {
    font-size: 1.5rem;
    margin: 0 30px;
    font-weight: 600;
  }
  .dataMain p strong {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  /* ------------------------Content---------------------------------- */
  .content-main {
    margin: 2vh 10vw;
    padding: 1vw 6vw;
    background: #0689b1;
    border-radius: 20px;
  }
  .totalPoint > p{
    font-size: 6rem;
    font-weight: 600;
    text-shadow: 5px 8px 5px #00000067;
  }
  .bottomContent {
    display: flex;
  }
  .showPoint h1 {
    margin-top: -20vh;
    font-size: 13rem;
    text-shadow: 5px 8px 5px #00000067;
    font-weight: 600;
    text-align: end;
    z-index: 999;
  }
  .content-main img {
    width: 230px;
    height: auto;
    margin-right: 50vw;
    opacity: 0.4;
    filter: drop-shadow(20px 20px 20px #9efff7);
  }
  .pointMain {
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    justify-content: space-evenly;
    text-shadow: 5px 8px 5px #00000046;
    padding: 0 5vw;
  }
  .pointMain strong  {
    font-weight: 500;
  }
  .condition p {
    text-align: end;
    margin: 1vh 0;
  }
  .condition span {
    color: red;
  }

  .buttonExchange {
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-1, .button-2 {
    position: relative;
    margin: 15px 2px;
    width: 100%;
    padding: 15px 100px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.1s;
    border-radius: 15px;
  }
  .button-1 span, .button-2 span {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
  }
  .button-1 h1, .button-2  h1 {
    font-size: 3rem;
    margin-top: -1vh;
  }
  
  /* button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  } */
  
  button:active {
    transform: scale(0.99);
  }
  .button-1 {
    border: 1px solid #4DB66A;
    background-color: #4DB66A;
  }

  .button-2 {
    border: 1px solid #3059EA;
    background: #3059EA;
  }


  /* -----------------------------Responsive-------------------------------- */
  @media screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
        background-color: #0847f400;
    }
    nav {
        position: absolute;
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #1c1f27;
        transition: 0.5s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.194);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a{
        color: #ffffff;
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger {
        display: block;
        position: fixed;
        right: 12vw;
        z-index: 999;
        background-color: #60879162;
    }
}

@media screen and (max-width: 1170px) {
  .showPoint h1 {
    font-size: 8rem;
  }
  .totalPoint > p {
    font-size: 5rem;
  }
  .content-main img {
    width: 200px;
  }
  .showPoint h1 {
    margin-top: -15vh;
  }
  .pointMain {
    padding: 0;
  }
  .pointMain p {
    font-size: 1.5rem;
  }
  .buttonExchange button span {
    font-size: 1.5rem;
  }
  .buttonExchange button h1 {
    font-size: 2.5rem;
    margin: 0;
  }

}
@media screen and (max-width: 890px) {
  .content-main {
    margin-bottom: 0;
  }
  .totalPoint > p {
    font-size: 4rem;
  }
  .content-main img {
    width: 150px;
  }
  .showPoint h1 {
    font-size: 6rem;
    margin-top: -10vh;
  }
  .button-1 , .button-2 {
    padding: 15px 60px;
  }
  .buttonExchange button h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  #home-manage {
    margin: 0 5vw;
    margin-top: 2vh;
    width: 90%;
  }
  #home-manage {
    height: 60px;
  }
  .logo {
    width: 80px;
  }
  .hamburger div {
    width: 28px;
  }
  .totalPoint > p {
    font-size: 3rem;
  }
  .dataMain {
    padding: 15px;
  }
  .dataMain p {
    font-weight: 400;
    font-size: 20px;
  }
  .hamburger {
    right: 8vw;
  }
  .dataMain {
    margin: 0 5vw;
    margin-top: 2vh;
  }
  .content-main {
    margin: 2vh 5vw;
  }
  .buttonExchange {
    padding: 0 5vw;
  }
  .showPoint h1 {
    margin-top: -7vh;
    font-weight: 500;
    font-size: 4rem;
  }
  .showPoint h1 strong {
    font-weight: 500;
  }
  .pointMain {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2vh 0;
    margin-bottom: 0;
  }
  .pointMain strong {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .buttonExchange button {
    padding: 15px 0;
  }
}
@media screen and (max-width: 588px) {
  .pointMain strong {
    font-size: 14px;
  }
  .pointMain p {
    font-size: 14px;
  }
}
@media screen and (max-width: 565px) {
  .dataMain p {
    font-size: 16px;
  }
  .buttonExchange button h1{
    font-size: 22px;
  }
  .buttonExchange button span{
    font-size: 17px;
  }
  .hamburger div {
    width: 25px;
  }
}
@media screen and (max-width: 485px) {
  .dataMain p {
    font-size: 14px;
  }
  .totalPoint > p {
    font-size: 40px;
    margin-top: 20px;
  }
  .buttonExchange button h1{
    font-size: 22px;
  }
  .buttonExchange button span{
    font-size: 17px;
  }
  .hamburger {
    right: 10vw;
  }
}
@media screen and (max-width: 445px) {
  .dataMain p {
    font-size: 14px;
    margin: 0 10px;
  }
  .totalPoint > p {
    font-size: 40px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 399px) {
  .dataMain p {
    font-size: 14px;
    margin: 0 10px;
  }
  .totalPoint > p {
    font-size: 30px;
    margin-top: 20px;
  }
  .buttonExchange button {
    margin: 0px 2px;
    padding: 10px 0px;
    border-radius: 20px;
  }
  .buttonExchange button h1{
    font-size: 18px;
    margin-top: -0.5vh;
  }
  .buttonExchange button span{
    font-size: 15px;
    font-weight: 400;
  }
}
@media screen and (max-width: 345px) {
  .dataMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 2.5vh;
    padding: 10px 30px;
  }
}









